<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Weather Dashboard</title>
</head>
<body style="background-image: url('static/background.jpg')">

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#/">Weather Dashboard</a>
  </div>
</nav>

<form action="{{ url_for('results') }}" method="post" id="form">
    <div class="mb-3">
            <label id=title for="city_name">Enter name of the city:</label><br>
            <input type="text" id="city_name" name="city"><br>
            <input type="submit" value="Submit" class="btn btn-primary btn-block" id="button">
</div>
</form>

{% block content %}{% endblock %}

<footer class="bg-dark text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p>Made using Python and Flask:
    <a class="text-light" href="https://github.com/DavidRprt"><i class="fa fa-github"></i></a>
      </p>
  </div>
</footer>

</body>
</html>